# Konfigurasi Database MySQL (Otomatis di-inject oleh Railway jika menggunakan plugin MySQL)
# Namun jika menggunakan DB eksternal, set variabel ini di menu Variables Railway:
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=db_pushUpCv
